<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>研修お問い合わせ</title>
</head>
<body>
	<h1 th:text="${genre} + 'ありがとうございます'"></h1>
	<p>以下の内容で受け付けました</p>
	<table border="1">
		<tr>
			<th>言語</th>
			<td>
				<span th:each="language : ${lang}" th:text="${language} + ','"></span>
			</td>
		</tr>
		<tr>
			<th>詳細内容</th>
			<td th:text="${detail}"></td>
		</tr>
		<tr>
			<th>実施予定日</th>
			<td th:text="${dueDate}"></td>
		</tr>
		<tr>
			<th>お名前</th>
			<td th:text="${name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${email}"></td>
		</tr>
	</table>
	<section th:if="${genre eq '資料請求'}">
		<h2>資料はこちら</h2>
		<ul>
			<li th:each="language : ${lang}">
				<a th:href="'/training/' + ${language}" th:text="${language}"></a>
			</li>
		</ul>
	</section>
</body>
</html>